.addressBookBody {
  display: flex;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#0099f7, #f11712);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  font-family: 'Baloo Paaji', cursive;
  text-align: center;
  justify-content: center;
}