.addressBookBody {
  display: flex;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#0099f7, #f11712);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  font-family: 'Baloo Paaji', cursive;
  text-align: center;
  justify-content: center;
}

.titleText {
  text-align: center;
  justify-content: center;
  font-size: 60px;
}

.contactsText {
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.formAddress {
  
}

.formButton {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #a3201e;
  border-radius: 0.6em;
  color: #a3201e;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.formButton :hover, :focus {
  color: #fff;
  outline: 0;
}

#formBtn {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#formBtn :hover {
  box-shadow: 0 0 40px 40px #a3201e inset;
}